$primary-color: #46BFBD;
$secondary-color: #ffffff;
$light-grey: #e5e5e5;
$dark-grey: #7d7d7d;

$sidenav-width: 250px;
$sidenav-width-negative: -250px;

section {
	padding-top: 20px;
}

#wrapper {
	padding-left: $sidenav-width;
	transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
	margin-left: $sidenav-width-negative;
	left: $sidenav-width;
	width: $sidenav-width;
	background: $light-grey;
	position: fixed;
	height: 100%;
	overflow-y: auto;
	z-index: 1000;
	transition: all 0.4s ease 0s;
}

#page-content-wrapper {
	margin-top: 50px;
	width: 100%;
}

.navbar-default {
	background-color: $primary-color;

	.navbar-brand {
		color: $secondary-color;
	}

	.navbar-nav {
		li {
			a {
				color: $secondary-color;
			}
		}
	}

	.navbar-toggle {
		border-color: $secondary-color;

		.icon-bar {
			background-color: $secondary-color;
		}
	}
}

.sidebar-nav {
	position: absolute;
	top: 0;
	width: $sidenav-width;
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		height: 65px;
		display:block;
		border-bottom: 1px solid $dark-grey;

		a {
			display:block;
			padding-top: 20px;
			padding-left: 20px;
			width: $sidenav-width;
			height: 65px;
			color: $dark-grey;
		}

		a:hover {
			background-color: $primary-color;
			border-left: 10px solid $dark-grey;
			color: white;
			text-decoration: none;
			transition: all 0.4s ease 0s;
		}

		.active {
			background-color: $primary-color;
			border-left: 10px solid $dark-grey;
			color: white;
			text-decoration: none;
		}
	}
}

.search-input {
	height: 50px;
	font-size: 20px;
	border-radius: 25px;
}

.btn-default {
	background-color: white;
	color: $primary-color;
	border-color: $primary-color;
}

.btn-default:hover {
	background-color: $primary-color;
	color: white;
	border-color: $primary-color;
	transition: all 0.4s ease 0s;
}

.btn-default:active:hover {
	background-color: $primary-color;
	color: white;
	border-color: $primary-color;
	transition: all 0.4s ease 0s;
}

.btn-default:focus {
	background-color: $primary-color;
	color: white;
	border-color: $primary-color;
	transition: all 0.4s ease 0s;
}

.modal-header {
	background-color: $primary-color;
	color: white;
}

.add-ad-btn {
	margin-top: 10px;
	margin-bottom: 5px;
}

.submit-add-ad-btn {
	background-color: $primary-color;
	color: white;
}

.panel-default {
	.panel-heading {
		background-color: $primary-color;
		color: $secondary-color;
	}
}

.table {
	tbody {
		tr {
			td {
				line-height: 3.5;
				border-top: none;
			}
		}

		tr:hover {
			background-color: $light-grey;
			border-left: 10px solid $primary-color;
			color: black;
			transition: all 0.4s ease 0s;
		}
	}
}

@media (max-width:767px) {

    #wrapper {
  		padding-left: 0;
    }

    #sidebar-wrapper {
  		left: 0;
    }

    #wrapper {
    	.active {
	  		position: relative;
	  		left: $sidenav-width;
  		}
    }

    #wrapper {
    	.active {

	 		#sidebar-wrapper {
		  		left: $sidenav-width;
		  		width: $sidenav-width;
		  		transition: all 0.4s ease 0s;
		  	}
		}
    }

}