
<section>
	<div class="container-fluid">
		<h2 class="page-header"><i class="fa fa-list" aria-hidden="true"></i> Advertisement List</h1>
		<div class="row">
			<div class="col-xs-12">
				<input type="text" ng-model="$ctrl.query" class="form-control search-input" placeholder="Search...">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<button class="btn btn-default add-ad-btn pull-right" ng-click="$ctrl.openAddAdModal()"><i class="fa fa-plus" aria-hidden="true"></i> Create new Ad</button>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-default">
			  		<div class="panel-heading">
				    	<h3 class="panel-title">Advertisements</h3>
				  	</div>
				  	<div class="panel-body">
						<table class="table">
							<thead>
								<tr>
									<th>
										Instrument
									</th>
									<th>
										Genre
									</th>
									<th>
										City
									</th>
									<th>
										Country
									</th>
									<th>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="ad in $ctrl.advertisements | filter:$ctrl.query | orderBy: '-id'">
									<td>
										{{ ad.instrument }}
									</td>
									<td>
										{{ ad.genre }}
									</td>
									<td>
										{{ ad.city }}
									</td>
									<td>
										{{ ad.country }}
									</td>
									<td>
										<button class="btn btn-default add-ad-btn" ng-click="$ctrl.openEditAdModal(ad)"> Edit</button>
										<button class="btn btn-default add-ad-btn" ng-click="$ctrl.deleteAdvertisement(ad)"> Delete</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
